# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# DVC
.dvc/cache/

# Data
data/

# Models
models/

# Logs
logs/
*.log

# Environment
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Build
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Testing
.pytest_cache/