# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# DVC
.dvc/cache/

# Data
data/*
!data/training/
data/training/*
!data/training/lightgbm_validation_dataset.parquet

# Models
# (We need the models folder for CI/CD and Docker builds, so we don't ignore it)

# Logs
logs/
*.log

# Environment
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl
terraform_*.zip*
bin/terraform
awscliv2.zip

# Build
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Testing
.pytest_cache/