# Python

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Env

.venv/

# Jupyter

.ipynb_checkpoints/

# ML

mlruns/

# DVC

.dvc/cache/

# OS

.DS_Store

# IDE

.idea/
.vscode/

# Logs

logs/
*.log

# Environment

.env

# Terraform

.terraform/
*.tfstate
*.tfstate.*
